*{
    padding: 0;
    margin: 0;
}
.pagination{
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: center;
}
.pagination li{
    width: 30px;
    height: 30px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(95, 95, 95);
    border-radius: 5px;
    color: black;
    cursor: pointer;
}