*{
    padding: 0;
    margin: 0;
}
.headercard{
    margin-top: 20px;
    padding: 10px 100px;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card-item{
    width: 350px;
    height: 150px;
    background-color: rgb(17, 22, 22);
    border-radius: 20px;
    overflow: hidden;
}
.card{
    height: 150px;
    display: flex;
    position: relative;
    
}
.card img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: -25px;
    margin-top: -25px;
}
.prices-star{
    width: 250px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.star{
    margin-left: 30px;
    color: #ee9b01;
}
.price{
    color: rgb(90, 1, 19);
    font-family: 'Poppins', sans-serif;
}    
.itemName{
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    margin-left: 30px;
    color: rgb(156, 156, 155);
}
.card i{
    position: absolute;
    right: 0px;
    bottom: 0;
    background-color: #ee9b01;
    padding: 10px 15px;
    color: rgb(90, 1, 19);
    cursor: pointer;
}
.order-now{
    position: absolute;
    left: 27%;
    top: 60%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    border-bottom: 2px solid white;
    cursor: pointer;
}