.dish-card{
    width: 250px;
    height: 200px;
    position: relative;
}
.dish-card img{
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}
.dish-card h2{
    width: 100%;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    position: absolute;
    bottom: 30px;
    color: rgb(153, 0, 31);
    background-color: #ee9b01;
    padding: 3px 0px;
}