.popup{
    position: fixed;
    left: 0;
    top: 60px;
    right: 0;
    bottom: 0;
    background-color: rgba(95, 94, 94, 0.247);
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.popup-details{
    width: 700px;
    height: 470px;
    background-color: black;
    position: relative;
    padding: 5px 30px;
    border-radius: 10px;
}
.fa-window-close{
    position: absolute;
    color: rgb(204, 139, 0);
    right: 10px;
    top: 10px;
    font-size: 30px;
    cursor: pointer;
   
}
.popup-details h2{
    color: rgb(206, 134, 0);
    text-align: center;
    margin-top: 20px;
    font-family: 'Satisfy', cursive;
    letter-spacing: 3px;
    font-size: 35px;
    font-weight: bold;
}
.popup-details h2 span{
    color: white;
}
.popup-details .pop-details{
    display: flex;
    width: 100%;
}
.details-img{
    width: 600px;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
}
.detail{
    margin-left: 20px;
}
.detail h3{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    
}
.detail h1{
    font-size: 19px;
    color: rgb(209, 136, 0);
    font-family: 'Satisfy', cursive;
    letter-spacing: 3px;
    font-weight: bolder;
}
.detail p{
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    height: 150px;
    overflow-y: scroll;
}
.popup-details h4{
    display: flex;
    flex-wrap: wrap;
}
.popup-details h4 span{
    font-size: 16px;
    color: white;
    border: 1px solid rgb(218, 141, 0);
    padding: 5px 15px;
    margin: 5px;
    border-radius: 10px;
}
.popup-details button{
    font-size: 16px;
    color: white;
    background-color: rgb(204, 133, 0);
    padding: 10px 30px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    font-family: 'Poppins', sans-serif;
}
.popup-details button:hover{
    background-color: transparent;
    border: 1px solid rgb(214, 139, 0);
}





.detail p::-webkit-scrollbar
{
	width: 12px;
}

.detail p::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #cf9800;
}