.popup{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.637);
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.popup-details{
    width: 600px;
    height: 450px;
    background-color: black;
    position: relative;
    padding: 5px 30px;
    border-radius: 10px;
}
.fa-window-close{
    position: absolute;
    color: rgb(143, 1, 29);
    right: 10px;
    top: 10px;
    font-size: 30px;
    cursor: pointer;
   
}
.popup-details h2{
    color: white;
    text-align: center;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
    font-size: 30px;
    font-weight: 500;
    
}
.popup-details img{
    width: 90%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.popup-details h3{
    color: #ee9b01;
    position: absolute;
    top: 180px;
    left: 30px;
    background-color: rgba(0, 0, 0, 0.637);
    width: 82%;
    padding: 10px 10px;
    box-shadow: 1px 1px 41px 7px #000000;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    font-weight: 500;
}
.popup-details p{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    height: 80px;
    overflow-y: auto;
    margin-top: 10px;
}
.popup-details h1{
    color: white;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    font-size: 22px;
    background-color: rgb(143, 0, 29);
    padding-left: 10px;
}
.popup-details h4{
    display: flex;
    margin-left: -10px;
    margin-top: 10px;
}
.popup-details h4 span{
    color: #ee9b01;
    padding: 3px 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    border-radius: 10px;
}
.popup-details button{
    padding: 7px 25px;
    margin-top: 10px;
    background-color: rgb(158, 0, 32);
    outline: none;
    border: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}    
.popup-details button:hover{
    background-color: white;
    color: black;
    transition: 2s;
}