.special-dishes{
    height: auto;
    padding: 70px 100px;
}
.heading{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
    color: rgb(170, 0, 34);
    font-weight: 600;
}
.heading-sub{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.special-dish{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 80px;
}
