*{
    padding: 0;
    margin: 0;
}
.filtered-dishes{
    padding: 60px 100px;
    height: 500px;
}
.menucategory{
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    
}
.menucategory .category{
    cursor: pointer;
}
.menucategory .category h2{
    font-size: 18px;
    color: rgb(173, 0, 35);
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    font-weight: 500;
    background-color: #ee9b01;
    padding: 10px 25px;
    margin: 5px;
    border-radius: 20px;
}
.menucategory .category h2.activedish{
    background-color: black;
    color: white;
}
.menucategory .category:hover h2{
    color: white;
    background-color: black;
}
.filtered-dishes-list{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}

.no-item{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}    
.no-item h1{
    width: 300px;
    text-align: center;
    background-color: white;
    color: rgb(165, 0, 33);
    padding: 5px 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    box-shadow: 2px 4px 6px 2px rgb(51, 50, 50);
    font-size: 19px;
}
