*{
    padding: 0;
    margin: 0;
}
.filtered-dishes{
    padding: 60px 100px;
    height: 500px;
}
.menucategory{
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    
}
.menucategory .category{
    background-color: #ee9b01;
    padding: 10px 25px;
    margin: 5px;
    border-radius: 20px;
    cursor: pointer;
}
.menucategory .category h2{
    font-size: 18px;
    color: rgb(173, 0, 35);
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    font-weight: 500;
}
.menucategory .category:hover{
    background-color: black;
    
}
.menucategory .category:hover h2{
    color: white;
}
.filtered-dishes-list{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}
.filter-item{
    width: 250px;
    height: 220px;
    margin: 15px;
}
.filter-item img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}
.filter-item h2{
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.filter-item div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.filter-item div button{
    padding: 8px 20px;
    background-color: rgb(161, 0, 32);
    border: none;
    outline: none;
    border-radius: 10px;
    color: white;
    font-size: 17px;
}
.filter-item div h3{
    font-family: 'Poppins', sans-serif;
    color: #0c0b0a;
    font-weight: 600;
}