.filtered-card{
    width: 250px;
    height: 200px;
    position: relative;
    overflow: hidden;
}
.filtered-card img{
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}
.filtered-card h2{
    width: 100%;
    font-size: .8rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    position: absolute;
    bottom: 20px;
    color: rgb(0, 0, 0);
    background-color: #ee9b01;
    padding: 10px 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}