*{
    padding: 0;
    margin: 0;
}
.header{
    padding: 10px 100px;
    height: 100vh;
}

.wrapper{
    width: 100%;
    position: relative;
}
.wrapper1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    
}

.content-1{
    font-size: 70px;
    font-family: 'Poppins', sans-serif;
    height: 80px;
    
}
.content-1-sub{
    font-size: 70px;
    color: rgb(197, 0, 39);
    font-family: 'Poppins', sans-serif;
   
}    
.wrapper1 p{
    font-size: 16px;
    color: rgb(90, 89, 89);
    width: 60%;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
}

.contents button{
    padding: 15px 20px;
    background-color: black;
    margin-top: 20px;
    color: white;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    letter-spacing: 2px;
}
.wrapper1 .images{
    margin-top: 20px;
}

.wrapper-2 .images-2{
    margin-left: 100px;
}
.btns{
    width: 120px;
    height: 50px;
    position: absolute;
    top: 80vh;
    left: 40%;
    display: flex;
    justify-content: space-between;
}
.btns div{
    width: 15px;
    height: 15px;
    background-color: rgb(109, 100, 100);
    border-radius: 50%;
    cursor: pointer;
}